.Breadcrumb{
    padding: 40px 0px;
}
.Breadcrumb ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.Breadcrumb li{
    display: inline-block;
    padding-right: 5px;
    font-size: .9em;
}
.Breadcrumb li a{
    color: black;
}
.Current-page{
    color: #777777;
}