:root{
    --main-color: rgb(0,186,185);
    --main-gray: #7F7F7F; 
}
.active-nav-element{
    background-color: white;
    color: var(--main-color) !important;
}
.active-nav-element:before{
    content: " ";
    height: 2px;
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    background-color: var(--main-color);
}
.custom-container{
    padding: 0px 50px;
}
/* #region PC Nav */
.Pc-nav .Header-top{
    padding-top: 14px;
}
.Pc-nav .Media{
    display: flex;
    padding: 20px 0px 10px 0px;
}
.Pc-nav .Media-text{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-evenly;
}
.Pc-nav .Media-text h6{
    margin: 0;
    padding: 0;
}
.Pc-nav .Media-text p{
    color: var(--main-gray);
    font-size: 12px;
    font-weight: bold;
}
.Pc-nav .Header-bottom{
    background-color: var(--main-color);
}
.Pc-nav .Header-bottom ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.Pc-nav .Left-nav{
    display: inline-block;
}
.Pc-nav .Header-bottom .Left-nav li{
    position: relative;
}
.Pc-nav .Header-bottom .Left-nav  ul li a{
    display: block;
    padding: 14px 20px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.Pc-nav .Header-bottom .Left-nav  ul li a:hover{
    text-decoration: none;
    background-color: white;
    color: var(--main-color);
    transition: .3s ease;
}
.Pc-nav .Header-bottom .Left-nav ul a:hover:before{
    content: " ";
    height: 2px;
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    background-color: var(--main-color);
}
.Pc-nav .Dropdown-toggle:hover{
    background-color: white;
}
.Pc-nav .Dropdown-toggle:hover{
    background-color: white;
    transition: .3s ease;
}
.Pc-nav .Dropdown-toggle:hover .Catalog-btn{
    color: var(--main-color) !important;
    transition: .3s ease;
}
.Catalog-btn svg{
    margin-left: 5px;
    width: 10px !important;
    vertical-align: middle;
}
.Pc-nav .Dropdown-toggle:hover:before{
    content: " ";
    height: 2px;
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    background-color: var(--main-color);
}
.Pc-nav .Dropdown-toggle:hover .Catalog-content{
    display: block;
}
.Pc-nav .Catalog-content{
    width: 220px;
    position: absolute;
    display: none;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    z-index: 10;
}
.Pc-nav .Catalog-content ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: white;
}
.Pc-nav .Catalog-content ul a{
    color: var(--main-gray) !important;
    padding: 5px 20px !important;
}
.Pc-nav .Catalog-content ul a:hover{
    background-color: #f5f5f5 !important;
    border: none !important;
}
.Pc-nav .Catalog-content ul a:hover:before{
    background-color: transparent !important;
}
.Pc-nav .Right-nav{
    float: right;
    position: relative;
}
.Pc-nav .Right-nav img:hover{
    cursor: pointer;
}
.Pc-nav .Right-nav .container{
    display: flex;
}
.Pc-nav .Right-nav .container div{
    padding: 12px 10px;
}
.Pc-nav .Right-nav a{
    color: white;
}
.Pc-nav .Language a:hover, .Pc-nav .User a:hover{
    text-decoration: none;
    color: white;
}
.Pc-nav .Dropdown-language{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    position: absolute;
    top: 100%;
    left: 10px;
}
.Pc-nav .Dropdown-user{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    position: absolute;
    top: 100%;
    left: 70px;
}
.Pc-nav .Dropdown-language li a, .Pc-nav .Dropdown-user li a{
    display: block;
    padding: 5px 16px;
}
.Pc-nav .Dropdown-language li a:hover, .Pc-nav .Dropdown-user li a:hover{
    background-color: white;
    color: black;
    transition: .3s ease;
}
.Pc-nav .Language:hover .Dropdown-language, .Pc-nav .User:hover .Dropdown-user{
    visibility: visible;
    transition: .3s ease;
    z-index: 10;
}
.Pc-nav .Language:hover .Current-lang{
    color: black;
    transition: .3s ease;
}
/* #endregion */

/* #region Tab Nav */



/* #endregion */

@media screen and (max-width: 990px){
    .Header-top, .Header-bottom{
        display: none;
    }      
}