@font-face {
    font-family: Cookie;
    src: url("../assets/css/fonts/Cookie/Cookie-Regular.ttf");
}
.Page-name{
    margin-bottom: 50px;
    min-height: 50px;
}
.Page-name h1{
    color: #f99;
    font-family: Cookie;
    animation-name: TextScale;
    animation-iteration-count: 1;
    animation-duration: 1s;
    transition: linear;
}
@keyframes TextScale{
    0%{font-size: .5rem;}
    100%{font-size: 2.5rem;}
}