/* "../assets/img/flower1.jpg" */

.Product-card{
    width: 100%;
    border: 1px solid transparent;
    margin-bottom: 40px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.Product-card-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, .3);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    visibility: hidden;
}
.Product-card-overlay button{
    margin: 5px 10px;
}
.Product-card-overlay .Like-btn{
    background-color: #f99;
    border: none;
    width: 35px;
    height: 35px;
}
.Product-card-overlay .Add-btn{
    background-color: white;
    border: none;
    width: 35px;
    height: 35px;
}
.Product-card-overlay .Add-btn img{
    width: 70%;
    margin: auto;
}
.Product-card:hover{
    border: 1px solid #f99;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.Product-card:hover .Product-card-overlay{
    visibility: visible;
    transition: .3s ease-in-out;
}
.Product-img-container{
    position: relative;
}
.New-badge{
    height: 40px;
    width: 40px;
    background-color: #00CCCC;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.Product-img-container img{
    width: 100%;
}
.Product-details{
    padding: 10px 10px;
}
.Product-buy-ops{
    display: flex;
    justify-content: space-evenly;
}
.Product-buy-ops button, .Email-sub-button{
    background-color: #f99;
    border: none;
    width: 60px;
    height: 35px;
    border-radius: 30px;
    outline: none;
}
.Product-buy-ops button img{
    width: 30%;
    margin: auto;
}
.Product-price{
    font-family: Cookie;
    font-size: 1.5em;
}

@media screen and (max-width: 990px){
    .Product-buy-ops{
        align-items: center;
    }
    .Product-price{
        text-align: center;
    }
}