@font-face {
    font-family: Cookie;
    src: url("../assets/css/fonts/Cookie/Cookie-Regular.ttf");
}
.Header-wrapper{
    width: 50%;
    height: 2px;
    background-color: #00CCCC;
}

.Main-page-header{
    height: 480px;
    background: url(../assets/img/bg-slider.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 110px;
}

.Slider-box{
    width: 340px;
    height: 260px;
    background-color: rgb(219, 112, 147, .7);
    padding: 30px 30px;
    color: white;
    cursor: pointer;
}
.Slider-box h4{
    padding-bottom: 10px;
}
.Slider-box button{
    width: 60%;
    height: 35px;
    border-radius: 20px;
    border: none;
}
.Products-header{
    padding: 40px 0px;
}
.Products-header h1{
    font-family: Cookie;
    color: #FF9999;
    text-align: center;
}
.Products-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}

.Products-nav .Right-nav span{
    font-size: 1.5em;
    color: #BAB9B9;
    padding: 0px 5px;
    cursor: pointer;
}

.Products-bottom-description{
    font-size: 12px;
}
.Read-more{
    height: 35px;
    border: none;
    background-color: #f99;
    border-radius: 20px;
    width: 140px;
    color: white;
    text-align: center;
    line-height: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}
.Product-bottom-img1{
    background: url("../assets/img/50percentbg1.jpg");
    height: 320px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100% !important;
}
.Product-bottom-img2{
    background: url("../assets/img/50percentbg2.png");
    height: 320px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100% !important;
}
.Products-bottom{
    display: flex;
    flex-wrap: wrap;
}
.Products-bottom div{
    width: 50%;
}
.Products-bottom section{
    width: 85%;
    margin: auto;
    padding-top: 100px;
}
.Best-sellers{
    padding-top: 110px;
}
.Best-seller{
    background: url("../assets/img/best-seller.png");
    height: 450px;
    background-repeat: no-repeat;
}
.Follow-section{
    margin-top: 40px;
}
.Follow-section-header{
    font-size: .9em;
    color: white;
    background-color: #00CCCC;
}
.Follow-section-header p{
    padding: 5px 0;
    margin: 0;
    font-weight: bold;
}
.Follow-section-cover img{
    width: 100%;
}
.Subscribe-box{
    width: 70%;
    height: 160px;
    border: 1px solid #f99;
    margin: 160px auto;
    padding: 40px 40px;
    position: relative;
}
.Subscribe-box-inputs{
    display: flex;
}
.Subscribe-box-inputs button{
    color: white;
    margin-left: 15px;
}
.Subscribe-box-inputs input{
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #EFEFEF;
    color: #999999;
    padding-left: 20px;
    outline: none;
    width: 50%;
}
.Right-subscribe-box{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 40px;
}


@media screen and (max-width: 990px){
    .Slider-box{
        margin: auto;
    }
    .Products-bottom div{
        width: 100%;
    }
    .Products-bottom div:first-child section{
        padding-bottom: 20px;
        padding-top: 5px;
    }
    .Products-bottom div:nth-child(4) section{
        padding-bottom: 20px;
        padding-top: 25px;
    }
    .Product-bottom-img1, .Product-bottom-img2{
        margin-top: 20px;
    }      
    .Subscribe-box{
        width: 90%;
        padding: 20px 20px;
    }
    .Subscribe-box h5{
        text-align: center;
        font-size: 18px;
    }
    .Subscribe-box-inputs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Subscribe-box-inputs input{
        width: 100%;
        padding: 0;
        text-align: center;
        margin: 10px 0px;
    }
    .Email-sub-button{
        margin: 0;
        width: 80px !important;
    }
    .Deliver-img-container{
        display: none;
    }
}